.emphasis {
	font-weight: bold;
}
.abstract {
   padding: 10px 20px;
   width: 450px;
}
.abstract p {
   font-style: italic;
}
.abstract p.title {
   font-style: normal;
}
.titlepage .author {
	border: 2px solid #df9928;
	border-radius: 10px;
	padding: 2px 2px 2px 10px;
	width: 250px;
}

.titlepage h3.author {
	border: none;
	margin: 0 0 ;
}
.titlepage .author .affiliation {
	padding-top: 10px;
}